<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Registrazione Utente</title>
	</head>
	<body>
		<form method="post" th:object="${utente}">
			<input type="text" th:field="*{nome}" placeholder="inserire nome">
			<p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
			<br>
			<input type="number" th:field="*{eta}" placeholder="inserire età">
			<p th:if="${#fields.hasErrors('eta')}" th:errors="*{eta}"></p>
			<br>
			<input type="password" th:field="*{password}" placeholder="inserire password">
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
			<br>
			<input type="submit" value="Registra Utente">
		</form>
	</body>
</html>